.us {
  color: #e2b945 !important;
}

.titleBox {
  display: flex;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 20rem;
  height: 24rem;
  position: relative;
}

.aboutUsContainer {
  margin-bottom: 11rem !important;
}

@media screen and (max-width: 900px) {
  .imageContainer {
    width: 8.5rem;
    height: 10rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    width: 8.5rem;
    height: 10rem;
    margin-bottom: 0.5rem;
  }
}
