.s {
  color: #e2b945 !important;
}

.ourArtistsBtn {
  border: 1px solid #e2b945 !important;
  margin-top: 1rem !important;
}

.ourArtistsBtn:hover {
  background-color: #9e8335 !important;
}

.titleBox {
  display: flex;
  margin-bottom: 1rem;
}

.imageContainer {
  display: flex;
}

.image {
  /* width: 120%; */
  width: 30rem;
  margin-left: 0.5rem;
  height: auto;
}

.description {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .image {
    width: 45rem;
    height: auto;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .image {
    margin-bottom: 1rem;
    width: 30rem;
    height: auto;
    margin-left: 0;
  }
  .ourArtistsBtn {
    width: 40%;
    height: auto;
  }
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .image {
    margin-bottom: 1rem;
    width: 16rem;
    height: auto;
    margin-left: 0;
  }
  .ourArtistsBtn {
    font-size: 0.9rem;
    height: auto;
  }
  .description {
    text-align: center;
  }
}
