.s {
  color: #e2b945 !important;
}

.ourArtistsBtn {
  border: 1px solid #e2b945 !important;
  margin-top: 1rem !important;
}

.ourArtistsBtn:hover {
  background-color: #9e8335 !important;
}

.titleBox {
  display: flex;
  margin-bottom: 1rem;
}

.imageContainer {
  display: flex;
  position: relative;
}

.image {
  margin-left: 0.5rem;
  width: 42rem;
  height: auto;
}

.description {
  text-align: left;
}

#contact2 {
  margin-bottom: 5rem !important;
}

@media screen and (max-width: 1200px) {
  .imageContainer {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .image {
    width: 32rem;
    height: 32rem;
  }
}

@media screen and (max-width: 900px) {
  .image {
    width: 27rem;
    height: auto;
    margin: 0 auto 1rem auto;
  }

  .ourArtistsBtn {
    height: auto;
  }
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 18rem;
    height: auto;
  }

  .ourArtistsBtn {
    font-size: 0.9rem;
    height: auto;
  }

  .description {
    text-align: center;
  }
}
