.contactForm {
  border-top: 6rem solid #e2b945 !important;
  border-bottom: 6rem solid #e2b945 !important;
  border-left: 2rem solid #e2b945 !important;
  border-right: 2rem solid #e2b945 !important;
}

.radioGroup {
  display: flex;
  color: white;
  margin-bottom: 1rem;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.btn {
  background-color: #e2b945 !important;
  color: white !important;
  width: 10rem !important;
}

.text {
  background-color: white;
  margin-bottom: 0.5rem !important;
  border-radius: 10px;
  width: 80%;
}

.description {
  background-color: white;
  margin-bottom: 0.5rem !important;
  border-radius: 10px;
}

.container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.white {
  color: white
}
