.contactPageBox {
  display: flex;
}

.textBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerTextBox {
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  margin-bottom: 1rem !important;
  justify-content: center;
}

.contactDescription {
  display: inline;
  margin-right: 0.4rem !important;
}

.yellowContactDescription {
  color: #e2b945 !important;
  display: inline !important;
  margin-right: 0.4rem !important;
}

/* .secondVerse {
  display: flex;
  justify-content: center;
} */
