.detailedArtistBox {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.artistBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yellowNamePart {
  margin-left: 1rem !important;
  color: #e2b945 !important;
}

.flex {
  display: flex;
}

.artistImage {
  width: 30%;
  height: auto;
}

.instagramIcon {
  font-size: 2rem !important;
  color: #e2b945 !important;
}

.youtubeIcon {
  font-size: 2.5rem !important;
  color: #e2b945 !important;
}

@media screen and (max-width: 1200px) {
  .artistImage {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .artistImage {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .artistImage {
    width: 60%;
  }

  .detailedArtistBox {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
