.eventPageContainer {
  width: 100%;
  height: 100%;
  padding-top: 6rem;
}

.titleBox {
  display: flex;
  margin-bottom: 2rem;
}

.flex {
  display: flex !important;
}

.eventsBoxes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eventInformationContainer {
  display: flex;
  align-items: center;
}

.eventTitle {
  margin-left: 2rem !important;
  font-size: 2.5rem !important;
}

.eventTitleYellow {
  margin-left: 0.7rem !important;
  font-size: 2.5rem !important;
  color: #e2b945 !important;
}

.eventIcons {
  color: #e2b945 !important;
  margin-left: 2rem !important;
  margin-right: 0.8rem !important;
  font-size: 1.5rem !important;
}

@media screen and (max-width: 450px) {
  .eventTitle {
    font-size: 2rem !important;
  }

  .eventTitleYellow {
    font-size: 2rem !important;
    margin-left: 0.5rem !important;
  }
}