.links {
  color: white !important;
}

.contactLink {
  color: white !important;
}

.contactLink:hover {
  cursor: pointer;
}

.lower {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem !important;
}

.upper {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem !important;
  padding-top: 1.5rem !important;
}

.middle {
  display: flex;
  justify-content: center;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem !important;
}

.container {
  margin-top: 7rem;
}

.youtubeIcon {
  color: white !important;
  font-size: 2.4rem !important;
}

.instagramIcon {
  color: white !important;
  font-size: 2rem !important;
  margin-left: 3rem !important;
}

.facebookIcon {
  color: white !important;
  font-size: 2rem !important;
  margin-left: 3rem !important;
  margin-right: 3rem !important;

}

.twitterIcon {
  color: white !important;
  font-size: 2rem !important;
}

.link {
  text-decoration: none !important;
}