.header {
  height: 5rem;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  transition: height 400ms;
  padding: 0 2rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  min-height: 5rem;
}

.headerRight {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
}

.listItems {
  /* color: white; */
  list-style-type: none;
  padding-left: 1rem;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.linkStyle {
  text-decoration: none;
}
