.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 0;
}

.video {
  width: 100%;
  height: 100%;
 
}

.img {
  width: 100% !important;
  height: 100% !important;
  opacity: 50% !important;
 
}

.heroText {
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactBtn {
  margin-top: 1rem !important;
}

.contactBtn:hover {
  background-color: #9e8335 !important;
}

.empire {
  color: #e2b945;
}

.headingContainer {
  display: flex;
}

.description {
  flex-direction: column !important;
  display: flex !important;
}

@media screen and (min-width: 320px) {
  .heading {
    font-size: 1.5rem !important;
  }
  .paragraph {
    font-size: 0.9rem !important;
  }
}
@media screen and (min-width: 370px) {
  .heading {
    font-size: 1.8rem !important;
  }
  .paragraph {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 430px) {
  .heading {
    font-size: 2.1rem !important;
  }
}
@media screen and (min-width: 460px) {
  .heading {
    font-size: 2.3rem !important;
  }
  .paragraph {
    font-size: 1.1rem !important;
  }
}
@media screen and (min-width: 530px) {
  .heading {
    font-size: 2.6rem !important;
  }
}
@media screen and (min-width: 600px) {
  .heading {
    font-size: 3rem !important;
  }
  .paragraph {
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 900px) {
  .heading {
    font-size: 4rem !important;
  }
  .paragraph {
    font-size: 1.3rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .heading {
    font-size: 5rem !important;
  }
  .paragraph {
    font-size: 1.5rem !important;
  }
}
