.container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  margin-left: 3rem;
}

.image {
  width: 40%;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  padding-top: 6rem;
  margin-left: 3rem;
}

.secondTitleBox {
  margin-bottom: 1rem;
}

.secondTitle1 {
  font-family: Montserrat !important;
  font-size: 1.5rem !important;
}

.secondTitle2 {
  font-family: Montserrat !important;
  font-size: 1.5rem !important;
  margin-left: 0.5rem !important;
  color: #e2b945 !important;
}

.newsDescription {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.s {
  color: #e2b945 !important;
}

.link {
  text-decoration: none;
}

.clickToListen {
  font-family: Montserrat !important;
  font-size: 1rem !important;
  margin-bottom: 1rem !important;
  color: #e2b945 !important;
}

.reverseContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 1rem;
  margin-right: 3rem;
  margin-top: 4rem;
}

.mobileContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mobileTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  text-align: center;
}

.mobileNewsDescription {
  text-align: center !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-bottom: 2rem !important;
}
.mobileNewsDescription2 {
  text-align: center !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 2rem !important;
}

.mobileTitleContainer {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}

@media screen and (min-width: 320px) {
  .secondTitle1 {
    font-size: 1rem !important;
  }
  .secondTitle2 {
    font-size: 1rem !important;
  }
  .clickToListen {
    font-size: 0.7rem !important;
  }
  .titleContainer {
    justify-content: center !important;
  }
}
@media screen and (min-width: 450px) {
  .secondTitle1 {
    font-size: 1.2rem !important;
  }
  .secondTitle2 {
    font-size: 1.2rem !important;
  }
  .clickToListen {
    font-size: 0.8rem !important;
  }
}
@media screen and (min-width: 550px) {
  .secondTitle1 {
    font-size: 1.3rem !important;
  }
  .secondTitle2 {
    font-size: 1.3rem !important;
  }
  .clickToListen {
    font-size: 0.9rem !important;
  }
}
@media screen and (min-width: 900px) {
  .secondTitle1 {
    font-size: 1.1rem !important;
  }
  .secondTitle2 {
    font-size: 1.1rem !important;
  }
  .titleContainer {
    justify-content: flex-start !important;
  }
}
@media screen and (min-width: 1100px) {
  .secondTitle1 {
    font-size: 1.3rem !important;
  }
  .secondTitle2 {
    font-size: 1.3rem !important;
  }
}
